@import url('https://fonts.googleapis.com/css?family=Roboto:300,500|Montserrat:700');

*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

div{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #3B3B3B;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 *{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0;
	margin-bottom: 5px;
}

p{
	line-height: 22px;
}

#wrapper{
	width: 100%;
	min-height: 100%;
	max-height: none;
	padding: 0;
}

#top-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

#top-nav > .navbar{
	padding: 15px 30px;
	background-color: transparent;
	border:none;
}

#top-nav > .navbar *{
	color: #FFF;!important
}

#top-nav > .navbar .navbar-brand{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#top-nav > .navbar .navbar-nav > li > a{
	padding: 5px 10px;
	margin: 5px;
	letter-spacing: 1px;
	transition: border-color 0.5s ease;
}

#top-nav > .navbar .navbar-nav > li > a:hover{
	padding: 4px 9px;
	border:1px rgba(255,255,255,.5) solid;
	border-radius: 20px;
}

#content{
	position: relative;
	width: 100%;
}

#content > div{
	position: relative;
}

#sec-main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	max-height: 100vh;
	background: url(../images/bg/bg4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	font-weight: 300;
	color: #FFF;
}

#sec-main .btn{
	background-color: transparent;
	color: #FFF;
	transition: background-color 0.5s ease;
	padding: 10px 15px;
}

#sec-main .btn:hover{
	background-color: rgba(255,255,255,.3);
}

#sec-two{
	width: 100%;
	height: 100vh;
	padding: 50px 50px;
	background-color: #FFF;
	background: url(../images/bg/bg5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	color: #555;
}

#sec-two > .list{
	width: 75%;
	margin: 100px auto;
}

#sec-two > .list .thumbnail{
	padding: 0;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	transition: box-shadow 0.5s ease;
}

#sec-two > .list .thumbnail:hover{
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	cursor: pointer;
}

#sec-two > .list .thumbnail .caption{
	padding-left: 15px;
	padding-bottom: 15px;
}

#sec-two a{
	text-decoration: none;
}

#sec-three{
	width: 100%;
	padding: 50px 50px;
}

#sec-three, #sec-three a{
	color: #DDD;
}

.sosmed{
	display: block;
	margin-top: 10px;
}

.sosmed > a{
	margin: 10px;
	font-size: 20px;
}

.sosmed > a:first-child{
	margin-left: 0px;
}

.line-separator{
	width: 100px;
	border-bottom: 2px #555 solid;
}

.block-center{
	margin: 0 auto;
}


/*RESPONSIVE*/
@media(max-width: 992px){
	#sec-two > .list{
		width: 100%;
	}
}

@media(max-width: 768px){
	#sec-two{
		height: auto;
	}

	#sec-two > .list{
		width: 70%;
	}
}